@import '../../assets/globals.scss';

.home {
  margin: 20px 20px 0 350px;

  .label {
    margin-top: 150px;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid black; 
    font-family: 'DinPro'
  }
}
