@import './variables';

@font-face {
  font-family: 'DinPro';
  font-weight: 300;
  src: url('https://res.cloudinary.com/andeladevs/raw/upload/v1531401088/DINPro-Light.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 500;
  src: url('https://res.cloudinary.com/andeladevs/raw/upload/v1531401087/DINPro-Medium.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 700;
  src: url('https://res.cloudinary.com/andeladevs/raw/upload/v1531401087/DINPro-Bold.ttf');
}

@font-face {
  font-family: 'CaviarDreams';
  font-weight: 700;
  src: url('https://res.cloudinary.com/doibwtx2d/raw/upload/v1561673083/fonts/CaviarDreams_zfm5oy.ttf');
}
